{% extends "ondecomer.html" %}
{% load thumbnail %}
{% block title %}
{{ current_category }} | {{ block.super }}
{% endblock %}
{% block content %}


{% for ondecomer in object_list %}
                  <div id="lista" class=" col-xs-12 col-sm-4 col-md-3">
                  <a href="{{ ondecomer.get_absolute_url }}">
                  <div class="thumbnail">
                  {% if ondecomer.image_1%}
                    <img src="{{ ondecomer.image_1|thumbnail_url:'image_1' }}" alt="...">
                  {% endif %}
                    <div class="caption">
                      <h4>{{ ondecomer.name }}</h4>
                    </div>
                  </div>
                  </a>
                </div>                
{% endfor %}


{% endblock %}


